{
  "plugins": ["jest", "prettier"],
  "extends": [
    "react-app",
    "plugin:jest/recommended",
    "plugin:jest/style",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": "error",

    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "alphabetize": { "order": "asc", "caseInsensitive": true }
      }
    ]
  }
}
